<!-- app/views/books/show.html.erb -->
<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<p>Title: <%= @book.title %></p>
<p>Body: <%= @book.body %></p>

<%# 編集ページへのリンクと一覧ページへのリンクを追加 %>
<div class="links">
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
</div>
